<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper green">
            <a href="/" class="brand-logo" style="padding-left: 10px">Alfredo Electronics</a>
            <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li id="navbar-"><a href="/">Home</a></li>
                <li id="navbar-products"><a href="/products">Products</a></li>
                <li id="navbar-news"><a href="/news">News</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-sidenav">
    <li id="navbar-"><a href="/">Home</a></li>
    <li id="navbar-products"><a href="/products">Products</a></li>
    <li id="navbar-news"><a href="/news">News</a></li>
</ul>